.navBar {
    padding: 1rem 0;
    background-color: orange;

    .container {
        display: flex;
        justify-content: space-between;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .title{
        font-size: 1.5rem;
    }
}
